<div class="body">
  <div class="container">
    <h2>User info</h2>
    <%= form_with model:@user_show, local:true do |f| %>
     <% if @user_show.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_show.errors.count, "error") %> prohibited this book from being saved:</h2>
      <ul>
        <% @user_show.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
      <div class="field">
        <label for="Name">Name</label>
        <%= f.text_field :name, autofocus: true %>
      </div>
      <div class="field">
        <label for="ProfileImage">Image</label>
        <%= f.attachment_field :profile_image %>
      </div>
      <div class="field">
        <label for="Introduction">Introduction</label>
        <%= f.text_area :introduction %>
      </div>
      <%= f.submit "Update User" %>
    <% end %>
  </div>
</div>
