<div class="body">
  <div class="container">
    <div class="row">
      <div class="col-xs-3">
        <h2>User info</h2>

        <%= render 'users/info', user: current_user %>

        <h2>New book</h2>
        <%= form_with model:@new_book, local: true do |f| %>
        <% if @new_book.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@new_book.errors.count, "error") %> prohibited this book from being saved:</h2>
            <ul>
              <% @new_book.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
          <div class="field-row">
            <label for="title">Title</label>
            <div class="row">
                <%= f.text_field :title, class: 'col-xs-12' %>
            </div>
          </div>
          <div class="field-row">
            <label for="opinion">Opinion</label>
            <div class="row">
              <%= f.text_area :body, class: 'col-xs-12' %>
            </div>
          </div>
          <div class="actions-row">
            <div class="row">
              <%= f.submit "Create Book", class: 'btn btn-primary col-xs-12' %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-xs-9">
        <h2>Users</h2>
        <table class="table table-hover table-inverse">
          <thead>
            <tr>
              <th>image</th>
              <th>name</th>
              <th colspan="3"></th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
              <div class="row">
                <tr>
                  <td>
                    <%= attachment_image_tag user, :profile_image, :fill, 40, 40, format: 'jpeg', fallback: "no_image.jpg", size:'40x40' %>
                  </td>
                  <td>
                    <span class="tbody"><%= user.name %></span>
                  <td>フォロー数: <%= user.followings.count %></td>
                  <td>フォロワー数: <%= user.followers.count %></td>
                  <td>
                    <% if current_user != user %>
                      <% if current_user.following?(user) %>
                        <%= link_to "フォロー外す", user_relationships_path(user.id), method: :delete %>
                      <% else %>
                        <%= link_to "フォローする", user_relationships_path(user.id), method: :post %>
                      <% end %>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to "Show", user_path(user) %>
                  </td>
                </tr>
              </div>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
