<div class="body">
  <div class="container mt-5">
    <div class="row">
      <h2 class="chat-user">
        <%= @user.name %> さんとのチャット
      </h2>
      <table class="chat-message">
        <%= render "chats/chat-message", chats: @chats, user: @user %>
      </table>
      <div class="chat-form">
        <%= form_with model: @chat do |f| %>
          <%= f.text_area :message %>
          <%= f.submit "送信", class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>


