<div class="body">
  <div class="container">
    <div class="row">
      <div class="col-xs-3">
        <h2>User info</h2>
        
        <%= render 'users/info', user: @book.user %>
        
        <h2>New book</h2>
        <%= form_with model:@new_book, local: true do |f| %>
        <% if @new_book.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@new_book.errors.count, "error") %> prohibited this book from being saved:</h2>
            <ul>
              <% @new_book.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
          <div class="field-row">
            <label for="title">Title</label>
            <div class="row">
                <%= f.text_field :title, class: 'col-xs-12' %>
            </div>
          </div>
          <div class="field-row">
            <label for="opinion">Opinion</label>
            <div class="row">
              <%= f.text_area :body, class: 'col-xs-12' %>
            </div>
          </div>
          <div class="actions-row">
            <div class="row">
              <%= f.submit "Create Book", class: 'btn btn-primary col-xs-12' %>
            </div>
          </div>
        <% end %>
        </div>
      <div class="col-xs-9">
        <h2>Book detail</h2>
        <table class="table table-hover table-inverse">
          <tbody>
            <tr>
              <td>
                <%= link_to user_path(@book.user) do %>
                  <%= attachment_image_tag @book.user, :profile_image, :fill, 40, 40, format: 'jpeg', fallback: "no_image.jpg", size:'40x40' %><br>
                  <%= @book.user.name %>
                <% end %>
              </td>
              <td>
                <%= link_to book_path(@book) do %>
                  <span class="tbody"><%= @book.title %></span>
                <% end %>
              </td>
              <td>
                <span class="tbody"><%= @book.body %></span>
              </td>
              <td>
                <% if @book.user.id == current_user.id %>
                  <div class="show-btn"><%= link_to "Edit", edit_book_path(@book), class: 'btn btn-success' %></div>
                <% end %>
              </td>
              <td>
                <% if @book.user.id == current_user.id %>
                  <%= link_to "Destroy", book_path(@book), method: :delete, "data-confirm" => "Are you sure?", class: 'btn btn-danger' %>
                <% end %>
              </td>
              <td class="favorites-btn">
               <%= render 'favorites/favorites-btn', book: @book %>
              </td>
              <td>
                コメント数：<%= @book.book_comments.count %>
              </td>
            </tr>
          </tbody>
        </table>
        <table class="book_comments">
          <%= render 'book_comments/index', book: @book %>
        </table>

        <div class="comment-form">
          <%= form_with model:[@book, @book_comment] do |f| %>
            <div class="row">
              <%= f.text_area :comment, rows:'5', class: "form-control",placeholder: "コメント" %>
              <%= f.submit "送信", class: 'btn btn-primary' %>
            </div>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>
